body {
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#intro{
    background-color: rgb(182, 220, 238);
}

#origami1{
    background-color:lightcoral;
}

#origami2{
    background-color:lightcoral;
}
